<%= form_with model: @food, local: true do |form| %>
  <p>【料理名】<%= form.text_field :name, required: true %></p>
  <p>【画像】<%= form.file_field :image, accept: "image/png, image/jpeg, image/gif" %></p>
  <p>【内容】<%= form.text_area :content %></p>
  <p><%= form.submit "投稿" %></p>
<% end %>
